<%= javascript_include_tag 'custom.js' %>

<div class="row">
  <%= form_for student, url: url do |f| %>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :name %>
        <%= f.label :name, t('labels.student.name') %>
      </div>
      <div class="input-field col s6">
        <%= f.number_field :note, min: 0, max: 10 %>
        <%= f.label :note, t('labels.student.note') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :document %>
        <%= f.label :document, t('labels.student.document') %>
      </div>
      <div class="input-field col s6">
        <%= f.select :course_id, options_from_collection_for_select(@courses, 'id', 'name', f.object.try(:course_id)), include_blank: true %>
        <%= f.label :course, t('labels.student.course') %>
      </div>
    </div>

    <div>
      <%= f.submit class: 'btn waves-effect waves-ligth' %>
    </div>
  <% end %>
</div>
