<h1><%= t('actions.student.edit') %></h1>

<%= render 'layouts/errors', record: @student %>
<%= render 'form', student: @student, url: edit_student_path(@student) %>

<%= link_to t('menu.back'), students_path, class: 'btn waves-effect waves-ligth' %>
