<div>
  <p class="flow-text"><%= t('menu.students') %></p>
  <%= link_to t('actions.student.create'), student_path, class: 'waves-effect waves-light btn' %>
</div>

<hr/>
<table class="striped">
  <thead>
    <tr>
      <th><%= Student.human_attribute_name(:name) %></th>
      <th><%= Student.human_attribute_name(:document) %></th>
      <th><%= Student.human_attribute_name(:note) %></th>
      <th><%= Course.human_attribute_name(:name) %></th>
      <th colspan="2"><%= t('actions.menu_actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.document %></td>
        <td><%= student.note %></td>
        <td><%= student.course.name %></td>
        <td>
          <%= link_to t('helpers.submit.student.edit'), edit_student_path(student), class: 'btn waves-effect waves-light' %>
          <%= link_to t('helpers.submit.student.delete'), delete_student_path(student), method: 'delete', data: { confirm: t('actions.student.confirm_removal') }, class: 'btn waves-effect waves-light' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
