<div>
  <p class="flow-text"><%= t('menu.results') %></p>
</div>

<div class="row">
  <%= t('menu.search') %>
  <hr/>
  <div class="row">
    <%= link_to t('actions.results.order_by_note'), results_path(order_by: "note"), class: 'btn' %>
    <%= link_to t('actions.results.ordered_by_average_students'), results_path(order_by: "note"), class: 'btn' %>
    <%= link_to t('actions.results.clean'), results_path, class: 'btn' %>
  </div>

  <hr/>
  <div class="row">
    <div class="col s6">
      <%= form_tag search_path, method: :get do %>
        <div class="row">
          <div class="input-field col s6">
            <%= text_field_tag :course_name %>
            <%= label_tag t('labels.result.name') %>
          </div>
        </div>

        <div>
          <%= button_to t('actions.results.find_by_name'), nil, class: "btn" %>
        </div>
      <% end %>
    </div>

    <div class="col s6">
      <%= form_tag search_path, method: :get do %>
        <div class="row">
          <div class="input-field col s6">
            <%= text_field_tag :college_name %>
            <%= label_tag t('labels.result.college_name') %>
          </div>
        </div>

        <div>
          <%= button_to t('actions.results.by_college'), nil, class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr/>
<table class="striped">
  <thead>
    <tr>
      <th>Nome do Colegio</th>
      <th>Nome do Curso</th>
      <th>Nota Geral</th>
      <th>Nota do Curso</th>
      <th>Media dos Alunos por Curso</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |results| %>
      <tr>
        <td><%= results.college.name %></td>
        <td><%= results.name %></td>
        <td><%= results.college.note %></td>
        <td><%= results.note %></td>
        <td><%= results.average_student_grades %></td>
      </tr>
    <% end %>
  </tbody>
</table>
