<div class="row container">
  <%= form_tag login_path do %>
    <div class="row">
      <div class="input-field col s12">
      <%= label_tag :email, t('labels.user.email') %>
      <%= email_field_tag :email %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= label_tag :password, t('labels.user.password') %>
        <%= password_field_tag :password %>
      </div>
    </div>

    <div>
      <%= submit_tag t('helpers.submit.login'), class: 'btn waves-effect waves-light' %>
    </div>
  <% end %>
</div>
