<%= javascript_include_tag 'custom.js' %>

<div class="row">
  <%= form_for college, url: url do |f| %>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :name %>
        <%= f.label :name, t('labels.college.name'), class: "validate" %>
      </div>

      <div class="input-field col s6">
        <%= f.text_field :city %>
        <%= f.label :city, t('labels.college.city') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s2">
      <%= f.number_field :note, min: 0, max: 5 %>
      <%= f.label :note, t('labels.college.note') %>
      </div>
    </div>

    <div>
      <%= f.submit class: 'btn waves-effect waves-light' %>
    </div>
  <% end %>
</div>
