<div>
  <p class="flow-text"><%= t('menu.colleges') %></p>
  <%= link_to t('actions.college.create'), college_path, class: 'waves-effect waves-light btn' %>
</div>

<hr/>
<table class="striped">
  <thead>
    <tr>
      <th><%= College.human_attribute_name(:name) %></th>
      <th><%= College.human_attribute_name(:city) %></th>
      <th><%= College.human_attribute_name(:note) %></th>
      <th colspan="2"><%= t('actions.menu_actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @colleges.each do |college| %>
      <tr>
        <td><%= college.name %></td>
        <td><%= college.city %></td>
        <td><%= college.note %></td>
        <td>
          <%= link_to t('actions.edit'), edit_college_path(college), class: 'btn waves-effect waves-light' %>
          <%= link_to t('actions.delete'), delete_college_path(college), method: 'delete', data: { confirm: t('actions.college.confirm_removal') }, class: 'btn waves-effect waves-light' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
