<h1><%= t('actions.college.create') %></h1>

<%= render 'layouts/errors', record: @college %>

<%= render 'form', college: @college, url: college_path(@college) %>

<%= link_to t('menu.back'), colleges_path, class: 'btn waves-effect waves-light' %>
