<%= javascript_include_tag 'custom.js' %>

<div class="row">
  <%= form_for course, url: url do |f| %>
    <div class="row">
      <div class="input-field col s6">
        <%= f.text_field :name %>
        <%= f.label :name, t('labels.course.name') %>
      </div>

      <div class="input-field col s2">
        <%= f.number_field :note, min: 0, max: 5 %>
        <%= f.label :note, t('labels.course.note') %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.select :college_id, options_from_collection_for_select(@colleges, 'id', 'name', f.object.try(:college_id)),  include_blank: true %>

        <%= f.label :college, t('labels.course.college') %>
      </div>
    </div>

    <div>
      <%= f.submit class: 'btn waves-effect waves-light' %>
    </div>
  <% end %>
</div>
