<div>
  <p class="flow-text"><%= t('menu.courses') %></p>
  <%= link_to t('actions.course.create'), course_path, class: 'waves-effect waves-light btn' %>
</div>

<hr/>
<table class="striped">
  <thead>
    <tr>
      <th><%= Course.human_attribute_name(:name) %></th>
      <th><%= Course.human_attribute_name(:note) %></th>
      <th><%= College.human_attribute_name(:name) %></th>
      <th colspan="2"><%= t('actions.menu_actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.note %></td>
        <td><%= course.college.name %></td>
        <td>
          <%= link_to t('helpers.submit.course.edit'), edit_course_path(course), class: 'btn waves-effect waves-light' %>
          <%= link_to t('helpers.submit.course.delete'), delete_course_path(course), method: 'delete', data: { confirm: t('actions.course.confirm_removal') }, class: 'btn waves-effect waves-light' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
