<h1><%= t('actions.course.create') %></h1>

<%= render 'layouts/errors', record: @course %>
<%= render 'form', course: @course, url: course_path(@course) %>

<%= link_to t('menu.back'), courses_path, class: 'btn waves-effect waves-light' %>
