<% if record.errors.any? %>
  <div class="card-panel red lighten-1">
    <span class="white-text"><%= t('form_error') %></span>
    <ul>
      <% for message in record.errors.full_messages %>
        <li>
          <span class="white-text"><%= message %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
