<!DOCTYPE html>
<html>
  <head>
    <title>CollegeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="indigo lighten-1">
      <div class="nav-wrapper container">
        <%= link_to root_path, class: 'brand-logo' do %>
          <i class="medium material-icons">library_books</i>
        <% end %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><%= link_to t('menu.colleges'), colleges_path %></li>
            <li><%= link_to t('menu.courses'), courses_path %></li>
            <li><%= link_to t('menu.students'), students_path %></li>
            <li><%= link_to t('menu.results'), results_path %></li>
            <li><%= link_to t('actions.user.logout'), logout_path, method: 'delete' %></li>
          <% else %>
            <li><%= link_to t('actions.user.login'), login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |type, message| %>
        <div class="card-panel teal lighten-2">
          <span class="white-text"><%= message %></span>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
